root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx,cjs,mjs}]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[.svgrrc]
indent_style = space
indent_size = 2

[*.css]
indent_style = tab
indent_size = 4

[*.{swift,h,m}]
indent_style = tab
indent_size = 4
